<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список студентов</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <h2>Список студентов</h2>
    <div class="form-row">
        <table class="table">
<thead class="thead-light">
<tr>
<th scope="col">ФИО</th>
<th scope="col">Курс</th>
<th scope="col">Группа</th>
<th scope="col">Специальность</th>
</tr>
</thead>
            <tbody>
            <tr th:each="s:${students}">
                <td th:text="${s.fullName}"></td>
                <td th:text="${s.course}"></td>
                <td th:text="${s.groupName}"></td>
                <td th:text="${s.specialty}"></td>
            </tr>
            </tbody>
        </table>
    </div>
<h4>Добавление нового студента</h4>
    <form th:action="@{/student}" th:object="${student}" method="post">
        <div class="col-sm-4 form-group">
            <label>ФИО</label>
            <input required type="text" class="form-control" th:field="*{fullName}">
        </div>
        <div class="col-sm-4 form-group">
            <label>Курс</label>
            <input required type="text" step="any" class="form-control" th:field="*{course}">
        </div>
        <div class="col-sm-4 form-group">
            <label>Группа</label>
            <input required type="text" class="form-control" th:field="*{groupName}">
        </div>
        <div class="col-sm-4 form-group">
            <label>Специальность</label>
            <input required type="text" class="form-control" th:field="*{specialty}">
        </div>
        <div class="col-sm-4 form-group">
            <button type="submit" class="btn btn-primary btn-block mt-3">Добавить</button>
        </div>
    </form>
<h4>Удаление студента</h4>
    <form th:action="@{/student/delete}" method="get">
        <div class="col-sm-4 form-group">
            <label>ФИО студента для удаления:</label>
            <input type="text" name="fullName" required class="form-control">
        </div>
        <div class="col-sm-4 form-group">
            <button type="submit" class="btn btn-primary btn-block mt-3">Удалить</button>
        </div>
    </form>
<h4>Изменение информации о студенте</h4>
    <form th:action="@{/student/upd}" method="post" th:object="${student}">
        <div class="col-sm-4 form-group">
            <label>Найти по ФИО</label>
            <input type="text" required name="fullName" class="form-control" th:field="*{fullName}">
        </div>
        <div class="col-sm-4 form-group">
            <label>Новый курс</label>
            <input required type="text" step="any" name="course" class="form-control" th:field="*{course}">
        </div>
        <div class="col-sm-4 form-group">
            <label>Новая группа</label>
            <input required type="text" class="form-control" th:field="*{groupName}">
        </div>
        <div class="col-sm-4 form-group">
            <label>Новая специальность</label>
            <input required type="text" class="form-control" th:field="*{specialty}">
        </div>
        <div class="col-sm-4 form-group">
            <button type="submit" value="update" class="btn btn-primary btn-block mt-3">Изменить инфо о студенте</button>
        </div>
    </form>
</body>
</html>